@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: bold;
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'omyu_pretty';
}

main {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

body {
	height: 85vh;
	background-image: url('images/study_back.png');
	background-repeat : no-repeat;
	background-size: 100% 117%;
}

.wrap-container {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 720px;
    height: 480px;
    position: absolute;
    margin-top: 1%;
}

.video-container {
    background-color: rgba(255, 255, 255, 1);
    width: 100%; /* 수정 */
    height: 100%; /* 수정 */
    border-radius: 15px;
    display: flex; /* 수정 */
    justify-content: center; /* 수정 */
    align-items: center; /* 수정 */
}

.video-thumbnail-container {
    width: 100%; /* 썸네일 이미지가 꽉 차도록 */
    height: 100%; /* 썸네일 이미지가 꽉 차도록 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-thumbnail {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.btn {
	margin-top: 30px;
	float: right;
}
.next-btn{
	background-color: #39A7FF;
	font-size: 20px;
	color: white;
	width: 130px;
	height: 50px;
	border: none;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.next-btn:hover {
background-color: #1A85D6;
color: #E0E0E0;
}

