<!doctype html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'create_scenario.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <title>Create Scenario</title>
</head>
<body>
  {% include "header.html" %}
  <div class="container">
    <div class="scenario_container">
      <span class="title">Create Scenario</span><br>
      <form method="post" action="{% url 'scenarios:create_scenario' %}"  name="selected_subject">
        {% csrf_token %}
        <select class="subject" id="subject_dropdown" name="selected_subject">
          {% for subject in subject_list %}
            <option value="{{ subject }}">{{ subject }}</option>
          {% endfor %}
        </select>
        <button type="submit">생성</button>
    </form>
    </div>
  </div>
</body>
</html>